<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- VSTS Connection Details-->
    <add key="Vsts.Url" value="https://test.visualstudio.com"/>
    <add key="Vsts.Project" value="Test"/>
    <add key="Vsts.PersonalAccessToken" value=""/>

    <!-- Jira Connection Details-->
    <add key="Jira.Url" value="https://jira.com"/>
    <add key="Jira.UserId" value=""/>
    <add key="Jira.Password" value=""/>
    <add key="Jira.Project" value=""/>

    <!-- Jira Queries -->
    <!-- project = 'STAR' and status not in (done) and type = epic-->
    <!-- project = 'STAR' and type = story-->
    <add key="Jira.Queries" value="
         type = epic;
         type = story;
         "/>

    <add key="Jira.Vsts.Status" value="
      Draft, Proposed;
      To do, Proposed;
      In Progress, Active;
      Dev Complete, Active;
      In Testing, Active;
      Done, Resolved;
    "/>

    <add key="Jira.Vsts.Priority" value="
      P1, 1;
      P2, 2;
      P3, 3;
      P4, 4;
      P5, 4;
      Blocker, 1;
      Critical, 1;
      Major, 1;
      Normal, 2;
      Minor, 3;
      Trivial, 4;
    "/>

    <add key="Jira.Vsts.IssueType" value="
      Story, Requirement;
      Epic, Feature;
      Bug, Bug;
      Sub-task, Task;
    "/>

    <!-- Error Message-->
    <add key="Vsts.Url.Error" value="The VSTS Url is missing in the app.config file. This should be of the format https://{InstanceName}.visualstudio.com"/>
    <add key="Vsts.Project.Error" value="The VSTS Project Name is missing in the app.config file. "/>
    <add key="Vsts.PersonalAccessToken.Error" value="The VSTS PersonalAccessToken is missing in the app.config file. Refer to the link 'https://docs.microsoft.com/en-us/vsts/accounts/use-personal-access-tokens-to-authenticate?view=vsts' to generate a VSTS token."/>
    <add key="Jira.Url.Error" value="The JIRA Url is missing in the app.config file. "/>
    <add key="Jira.UserId.Error" value="The JIRA UserId is missing in the app.config file. "/>
    <add key="Jira.Password.Error" value="The JIRA Password is missing in the app.config file. This should be of the format https://{InstanceName}.visualstudio.com"/>
    <add key="Jira.Project.Error" value="The JIRA Project Name is missing in the app.config file. "/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
